<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quattrocento|Vollkorn:400,400i,700,700i">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/images/logo-bw-2.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/logo-bw-2.png" sizes="857x291">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/logo-bw-2.png">

	</head>

	<body>
		<header style="background-image: url('{% include relative-src.html src=page.background_image_path %}'); color:#3a783f">
			<div class="container">
				<a href="{{ site.baseurl }}/"><img src ="../images/logo.png" width="30%"></a>
				<br>
				<nav>
					<ul>
						{% assign nav_pages = site.html_pages | where: 'show_in_navigation', true | sort: 'navigation_order' %}
						{% for nav_page in nav_pages %}
							{% if previous_page.path != nav_page.path %}
								{% assign previous_page = nav_page %}
								<li><a {% if nav_page.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ nav_page.url }}">{{ nav_page.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
			</div>
		</header>
		<section class="main">
			<div class="container">
				{{ content }}
			</div>
		</section>
		{% if page.call_to_action == 'Map'%}

		{% elsif page.call_to_action == 'Contact' %}
			<section class="quote-section">
				<p class="container editable" style="font-size:90%">
					문의 사항 있으면 언제든지<a href="{{ site.baseurl }}/contact/">연락 부탁드립니다.</a><br>
					최대한 빨리 답변드리겠습니다.</p>
			</section>
		{% endif %}

		<footer>
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Update Footer Sections</a></p>

				<div class="footer-columns">
					{% for column in site.data.footer %}
						<ul class="footer-links">
							<li>
								<h2>{{ column.title }}</h2>
							</li>
							<nav>
							{% for link in column.links %}
							<li>
							<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}">
							{{ link.name }}</a>
							</li>
							{% endfor %}
							</nav>
						</ul>
					{% endfor %}

					<ul class="footer-links">
						<li>
							<h2>{{ site.data.company.title }}</h2>
						</li>
						<li>{{ site.data.company.description }}</li>
					</ul>
				</div>
			</div>

			<div class="legal-line" style="text-align:center">
				<p class="container">
					&copy;  의성공조 주식회사 {{ site.time | date: '%Y' }}
				</p>
			</div>
		</footer>
	</body>
</html>
